@model IEnumerable<GestaoDeLaboratorios.Models.Computador>

@{
    ViewData["Title"] = "Computadores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPratrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPratrimonio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeEntrega)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
